*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bmi-calculator {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: rgb(197, 107, 82);
    box-shadow: 0 0 30px rgba(133, 9, 9, 0.731);
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 95%;
    padding: 8px;
    font-size: 16px;
    border-radius: 12px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  p {
    margin-top: 15px;
    font-weight: bold;
  }
  